<section class="bg-white min-h-screen flex flex-col items-center justify-center p-6">
    <div class="bg-white p-8 max-w-4xl mx-auto">
      <h1 class="text-3xl text-center font-bold mb-4">More About Me</h1>
      <div class="mb-6">
        <!-- <h2 class="text-2xl font-semibold">Web Developer</h2> -->
        <p class="text-lg text-gray-700 mt-2">
          Highly dedicated and experienced graduate student in Computer Science and Engineering, specializing in full‑stack web development. Proficient in software engineering with a strong focus on delivering exceptional results. Actively seeking Full‑stack or Front‑end developer positions.
        </p>
      </div>
      <div class="mb-6">
        <h3 class="text-xl font-semibold">Degree:</h3>
        <p class="text-lg text-gray-700">Bachelors in Computer Science and Engineering</p>
      </div>
      <div class="mb-6">
        <h3 class="text-xl font-semibold">Birthday:</h3>
        <p class="text-lg text-gray-700">25 September 2002</p>
      </div>
      <div class="mb-6">
        <h3 class="text-xl font-semibold">Website:</h3>
        <a href="https://aaronchrisjo.vercel.app/" class="text-blue-500 hover:underline" target="_blank">aaronchrisjo.vercel.app</a>
      </div>
      <div>
        <h3 class="text-xl font-semibold">City:</h3>
        <p class="text-lg text-gray-700">Trivandrum, India</p>
      </div>
    </div>
  </section>
  