<section
  class="bg-white min-h-screen flex flex-col items-center justify-center p-6 dark:bg-black dark:text-white"
>
  <div
    class="bg-white p-8 shadow-md rounded-lg max-w-4xl mx-auto dark:bg-black dark:text-white"
  >
    <h1
      class="text-3xl text-center font-bold mb-6 dark:bg-black dark:text-white"
    >
      Projects
    </h1>

    <div class="mt-8">
      <h2 class="text-xl font-semibold mb-4">
        These are some projects I've worked on:
      </h2>

      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-6 dark:bg-black dark:text-white"
      >
        <!-- Project 1 -->
        <div
          class="relative bg-white p-6 shadow-lg rounded-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-xl dark:bg-slate-800 dark:text-white"
        >
          <div class="absolute inset-0 bg-black bg-opacity-50 opacity-0 hover:opacity-100 shadow-lg rounded-lg transition-opacity duration-300 flex items-center justify-center">
            <a href="https://skin-ai-fisat.vercel.app/" target="_blank" class="text-white text-4xl">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                <path fill="#ffffff" d="M18.51 3.868a4 4 0 0 0-5.657 0L8.611 8.111a4 4 0 0 0 5.657 5.657l.502-.503s-.226-.635-.502-.911c-.276-.277-.912-.503-.912-.503l-.502.503a2 2 0 0 1-2.829-2.829l4.243-4.243a2 2 0 0 1 2.828 2.829l-.707.707s.49.318.798.627c.31.309.616.787.616.787l.707-.707a4 4 0 0 0 0-5.657Z"></path>
                <path fill="#ffffff" d="M16.39 10.232a4 4 0 0 0-5.658 0l-.541.542s.268.6.544.875c.276.276.87.539.87.539l.541-.542a2 2 0 1 1 2.829 2.829l-4.243 4.243a2 2 0 1 1-2.828-2.829l.779-.779s-.503-.359-.78-.635c-.275-.276-.635-.779-.635-.779l-.778.779a4 4 0 1 0 5.656 5.657l4.243-4.243a4 4 0 0 0 0-5.657Z"></path>
              </svg>
            </a>
          </div>
          <h4 class="text-lg font-semibold mb-2 dark:text-white">
            Skin Disease Detection App
          </h4>
          <p class="text-gray-700 mb-2 dark:text-white">
            December 2023 - May 2023
          </p>
          <p class="text-gray-600 mb-4 dark:text-white">
            FISAT, Angamaly
          </p>
          <p>
            Skin disease detection app leveraging AI for precise diagnosis and
            early intervention.
          </p>
        </div>

        <!-- Project 2 -->
        <div
          class="relative bg-white p-6 shadow-lg rounded-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-xl dark:bg-slate-800 dark:text-white"
        >
          <div class="absolute inset-0 bg-black bg-opacity-50 shadow-lg rounded-lg opacity-0 hover:opacity-100 transition-opacity duration-300 flex items-center justify-center">
            <a href="https://example.com" target="_blank" class="text-white text-4xl">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                <path fill="#ffffff" d="M18.51 3.868a4 4 0 0 0-5.657 0L8.611 8.111a4 4 0 0 0 5.657 5.657l.502-.503s-.226-.635-.502-.911c-.276-.277-.912-.503-.912-.503l-.502.503a2 2 0 0 1-2.829-2.829l4.243-4.243a2 2 0 0 1 2.828 2.829l-.707.707s.49.318.798.627c.31.309.616.787.616.787l.707-.707a4 4 0 0 0 0-5.657Z"></path>
                <path fill="#ffffff" d="M16.39 10.232a4 4 0 0 0-5.658 0l-.541.542s.268.6.544.875c.276.276.87.539.87.539l.541-.542a2 2 0 1 1 2.829 2.829l-4.243 4.243a2 2 0 1 1-2.828-2.829l.779-.779s-.503-.359-.78-.635c-.275-.276-.635-.779-.635-.779l-.778.779a4 4 0 1 0 5.656 5.657l4.243-4.243a4 4 0 0 0 0-5.657Z"></path>
              </svg>
            </a>
          </div>
          <h4 class="text-lg font-semibold mb-2">SpeakWise Language Learner</h4>
          <p class="text-gray-700 mb-2 dark:text-white">March 2023 - July 2023</p>
          <p class="text-gray-600 mb-4 dark:text-white">FISAT, Angamaly</p>
          <p>
            Connect language learners with native speakers and experienced
            language tutors for personalized lessons. Encourage lifelong
            learning by providing advanced language courses, specialized
            workshops, and skill enhancement opportunities.
          </p>
        </div>

        <!-- Project 3 -->
        <div
          class="relative bg-white p-6 shadow-lg rounded-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-xl dark:bg-slate-800 dark:text-white"
        >
          <div class="absolute inset-0 bg-black bg-opacity-50 opacity-0 hover:opacity-100 shadow-lg rounded-lg transition-opacity duration-300 flex items-center justify-center">
            <a href="https://github.com/aaronchrisjo/YumRater" target="_blank" class="text-white text-4xl">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                <path fill="#ffffff" d="M18.51 3.868a4 4 0 0 0-5.657 0L8.611 8.111a4 4 0 0 0 5.657 5.657l.502-.503s-.226-.635-.502-.911c-.276-.277-.912-.503-.912-.503l-.502.503a2 2 0 0 1-2.829-2.829l4.243-4.243a2 2 0 0 1 2.828 2.829l-.707.707s.49.318.798.627c.31.309.616.787.616.787l.707-.707a4 4 0 0 0 0-5.657Z"></path>
                <path fill="#ffffff" d="M16.39 10.232a4 4 0 0 0-5.658 0l-.541.542s.268.6.544.875c.276.276.87.539.87.539l.541-.542a2 2 0 1 1 2.829 2.829l-4.243 4.243a2 2 0 1 1-2.828-2.829l.779-.779s-.503-.359-.78-.635c-.275-.276-.635-.779-.635-.779l-.778.779a4 4 0 1 0 5.656 5.657l4.243-4.243a4 4 0 0 0 0-5.657Z"></path>
              </svg>
            </a>
          </div>
          <h4 class="text-lg font-semibold mb-2">Yumrater</h4>
          <p class="text-gray-700 mb-2 dark:text-white">April 2023</p>
          <p class="text-gray-600 mb-4 dark:text-white">ICEFOSS Hackathon</p>
          <p>
            A Food-Rating application that shows ratings only on a daily basis for Food Safety. This app is purely based on identifying threats based on reviews and reporting to authorities or warning people.
          </p>
        </div>
