<section
  class="bg-white min-h-screen flex flex-col items-center justify-center p-6 dark:bg-black dark:text-white"
>
  <div
    class="bg-white p-8 shadow-md rounded-lg max-w-4xl mx-auto dark:bg-black dark:text-white"
  >
    <h1
      class="text-3xl text-center font-bold mb-6 dark:bg-black dark:text-white"
    >
      Projects
    </h1>
    <!-- <h2 class="text-2xl font-semibold mb-4">Here's My Resume</h2> -->

    <div class="mt-8">
      <h2 class="text-xl font-semibold mb-4">
        These are some projects I've worked on:
      </h2>

      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-6 dark:bg-black dark:text-white"
      >
        <!-- Project 1 -->
        <div
          class="bg-white p-6 shadow-lg rounded-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-xl dark:bg-slate-800 dark:text-white"
        >
          <h4 class="text-lg font-semibold mb-2  dark:text-white">
            Skin Disease Detection App
          </h4>
          <p class="text-gray-700 mb-2  dark:text-white">
            December 2023 - May 2023
          </p>
          <p class="text-gray-600 mb-4  dark:text-white">
            FISAT, Angamaly
          </p>
          <p>
            Skin disease detection app leveraging AI for precise diagnosis and
            early intervention.
          </p>
        </div>

        <!-- Project 2 -->
        <div
          class="bg-white p-6 shadow-lg rounded-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-xl  dark:bg-slate-800 dark:text-white"
        >
          <h4 class="text-lg font-semibold mb-2">SpeakWise Language Learner</h4>
          <p class="text-gray-700 mb-2  dark:bg-slate-800 dark:text-white">March 2023 - July 2023</p>
          <p class="text-gray-600 mb-4  dark:bg-slate-800 dark:text-white">FISAT, Angamaly</p>
          <p>
            Connect language learners with native speakers and experienced
            language tutors for personalized lessons. Encourage lifelong
            learning by providing advanced language courses, specialized
            workshops, and skill enhancement opportunities.
          </p>
        </div>

        <!-- Project 3 -->
        <div
          class="bg-white p-6 shadow-lg rounded-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-xl  dark:bg-slate-800 dark:text-white"
        >
          <h4 class="text-lg font-semibold mb-2  dark:bg-slate-800 dark:text-white">Yumrater</h4>
          <p class="text-gray-700 mb-2  dark:bg-slate-800 dark:text-white">April 2023</p>
          <p class="text-gray-600 mb-4  dark:bg-slate-800 dark:text-white">ICEFOSS Hackathon</p>
          <p>
            A Food-Rating application that shows ratings only on a daily basis
            for Food Safety. This app is purely based on identifying threats
            based on reviews and reporting to authorities or warning people.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
