<section class="bg-white items-center justify-center p-10 dark:bg-black dark:text-white">
  <div class="bg-white max-w-4xl mx-auto dark:bg-black dark:text-white">
      <h1 class="text-3xl text-center font-bold mb-12">Some of my skills include:</h1>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-10">
          <div class="icon-box">
              <div class="relative group">
                  <img src="assets/icons/Angular-Light.svg" alt="Angular" class="transition-transform transform group-hover:scale-105 w-16 h-16 mx-auto">
                  <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full text-center text-black dark:text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">Angular</span>
              </div>
          </div>
          <div class="icon-box">
              <div class="relative group">
                  <img src="assets/icons/JavaScript.svg" alt="JavaScript" class="transition-transform transform group-hover:scale-105 w-16 h-16 mx-auto">
                  <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full text-center text-black dark:text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">JavaScript</span>
              </div>
          </div>
          <div class="icon-box">
              <div class="relative group">
                  <img src="assets/icons/HTML.svg" alt="HTML" class="transition-transform transform group-hover:scale-105 w-16 h-16 mx-auto">
                  <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full text-center text-black dark:text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">HTML</span>
              </div>
          </div>
          <div class="icon-box">
              <div class="relative group">
                  <img src="assets/icons/PHP-Dark.svg" alt="PHP" class="transition-transform transform group-hover:scale-105 w-16 h-16 mx-auto">
                  <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full text-center text-black dark:text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">PHP</span>
              </div>
          </div>
          <!-- Add more icon boxes as needed -->
      </div>
  </div>
  <div class="bg-white max-w-4xl mx-auto mt-12 dark:bg-black dark:text-white">
      <h1 class="text-3xl text-center font-bold mb-12">Programming languages I'm good with:</h1>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-10">
          <div class="icon-box">
              <div class="relative group">
                  <img src="assets/icons/C.svg" alt="C" class="transition-transform transform group-hover:scale-105 w-16 h-16 mx-auto">
                  <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full text-center text-black dark:text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">C</span>
              </div>
          </div>
          <div class="icon-box">
              <div class="relative group">
                  <img src="assets/icons/Java-Dark.svg" alt="Java" class="transition-transform transform group-hover:scale-105 w-16 h-16 mx-auto">
                  <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full text-center text-black dark:text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">Java</span>
              </div>
          </div>
          <div class="icon-box">
              <div class="relative group">
                  <img src="assets/icons/Python-Light.svg" alt="Python" class="transition-transform transform group-hover:scale-105 w-16 h-16 mx-auto">
                  <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full text-center text-black dark:text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">Python</span>
              </div>
          </div>
          <!-- Add more icon boxes as needed -->
      </div>
  </div>
  <div class="bg-white max-w-4xl mx-auto mt-12 dark:bg-black dark:text-white">
      <h1 class="text-3xl text-center font-bold mb-12">Other technologies :</h1>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-10">
          <div class="icon-box">
              <div class="relative group">
                  <img src="assets/icons/VSCode-Light.svg" alt="VSCode" class="transition-transform transform group-hover:scale-105 w-16 h-16 mx-auto">
                  <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full text-center text-black dark:text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">VSCode</span>
              </div>
          </div>
          <div class="icon-box">
              <div class="relative group">
                  <img src="assets/icons/Git.svg" alt="Git" class="transition-transform transform group-hover:scale-105 w-16 h-16 mx-auto">
                  <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full text-center text-black dark:text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">Git</span>
              </div>
          </div>
          <div class="icon-box">
              <div class="relative group">
                  <img src="assets/icons/Github-Dark.svg" alt="Github" class="transition-transform transform group-hover:scale-105 w-16 h-16 mx-auto">
                  <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full text-center text-black dark:text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">Github</span>
              </div>
          </div>
          <div class="icon-box">
              <div class="relative group">
                  <img src="assets/icons/Linux-Light.svg" alt="Linux" class="transition-transform transform group-hover:scale-105 w-16 h-16 mx-auto">
                  <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full text-center text-black dark:text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">Linux</span>
              </div>
          </div>
          <!-- Add more icon boxes as needed -->
      </div>
  </div>
</section>
