<section class="bg-white items-center justify-center p-10">
    <div class="bg-white  max-w-4xl mx-auto">
      <h1 class="text-3xl text-center font-bold mb-10">These are some of my skills:</h1>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-10">
        <div class="icon-box">
          <img src="assets/icons/Angular-Dark.svg" alt="Angular" class="w-16 h-16 mx-auto">
        </div>
        <div class="icon-box">
          <img src="assets/icons/JavaScript.svg" alt="JavaScript" class="w-16 h-16 mx-auto">
        </div>
        <div class="icon-box">
          <img src="assets/icons/HTML.svg" alt="HTML" class="w-16 h-16 mx-auto">
        </div>
        <div class="icon-box">
          <img src="assets/icons/PHP-Dark.svg" alt="PHP" class="w-16 h-16 mx-auto">
        </div>
        <div class="icon-box">
          <img src="assets/icons/React-Dark.svg" alt="React" class="w-16 h-16 mx-auto">
        </div>
        <div class="icon-box">
          <img src="assets/icons/TailwindCSS-Dark.svg" alt="TailwindCSS" class="w-16 h-16 mx-auto">
        </div>
        <div class="icon-box">
          <img src="assets/icons/Vite-Dark.svg" alt="Vite" class="w-16 h-16 mx-auto">
        </div>
        <div class="icon-box">
          <img src="assets/icons/MySQL-Dark.svg" alt="MySQL" class="w-16 h-16 mx-auto">
        </div>
      </div>
    </div>
  </section>
  