<nav class="bg-white text-gray-400 p-4 dark:bg-black dark:text-white">
  <div class="container mx-auto flex items-center justify-between dark:bg-black dark:text-white">
    <a routerLink="/" class="logo text-3xl font-bold text-gray-900 dark:text-gray-100 hover:text-teal-600 dark:hover:text-teal-600 transition-all duration-300 ease-in-out transform hover:scale-105">
      CJ
    </a>
    
    

    <!-- Mobile Navigation Section -->
    <div class="md:hidden flex items-center">
      <!-- Dark Mode Toggle Button for Mobile -->
      <button (click)="toggleDarkMode()" class="p-2 rounded bg-white dark:bg-black text-gray-800 dark:text-gray-300 focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
    </button>

      <!-- <button (click)="isMenuOpen = !isMenuOpen" class="flex items-center text-gray-800 hover:text-blue-800 focus:outline-none dark:text-gray-300">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button> -->

      <button (click)="showAlert()" class="flex items-center text-gray-800 hover:text-blue-800 focus:outline-none dark:text-gray-300">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>

    <!-- Desktop Navigation Links -->
    <div class="hidden md:flex items-center space-x-12">
      <a href="#about" class="text-black hover:text-blue-800 transition-colors duration-300 ease-in-out dark:bg-black dark:text-white">About</a>
      <a href="#resume" class="text-black hover:text-blue-800 transition-colors duration-300 ease-in-out dark:bg-black dark:text-white">Projects</a>
      <a href="#achievments" class="text-black hover:text-blue-800 transition-colors duration-300 ease-in-out dark:bg-black dark:text-white">Certificates</a>
      <a (click)="openContactModal()" routerLink="/" class="text-black hover:text-blue-800 transition-colors duration-300 dark:bg-black dark:text-white">Contact</a>

      <!-- Dark Mode Toggle Button for Desktop -->
      <button (click)="toggleDarkMode()"
        class="p-2 rounded bg-white dark:bg-black text-black dark:text-white focus:outline-none relative group">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
        <span class="absolute inset-0 rounded-full bg-gradient-to-r from-blue-700 to-teal-500 opacity-0 group-hover:opacity-50 transition-opacity duration-300 ease-in-out"></span>
      </button>

    
    
    </div>
  </div>

  <!-- Mobile Navigation Menu -->
  <div [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" class="md:hidden flex flex-col items-center mt-4 space-y-4">
    <!-- <a href="/" class="text-gray-800 hover:text-blue-800 transition-colors duration-300 ease-in-out dark:bg-black dark:text-white" (click)="isMenuOpen = false">Home</a> -->
    <a href="#about" class="text-gray-800 hover:text-blue-800 transition-colors duration-300 ease-in-out dark:bg-black dark:text-white" (click)="isMenuOpen = false">About</a>
    <a href="#resume" class="text-gray-800 hover:text-blue-800 transition-colors duration-300 ease-in-out dark:bg-black dark:text-white" (click)="isMenuOpen = false">Projects</a>
    <a href="#achievments" class="text-gray-800 hover:text-blue-800 transition-colors duration-300 ease-in-out dark:bg-black dark:text-white" (click)="isMenuOpen = false">Certificates</a>
    <a (click)="openContactModal()" routerLink="/" class="text-black hover:text-blue-800 transition-colors duration-300 dark:bg-black dark:text-white" (click)="isMenuOpen = false">Contact</a>
  </div>

  <!-- Include the ContactComponent and bind the visibility state -->
  <app-contact [isVisible]="isContactModalVisible" (close)="isContactModalVisible = false"></app-contact>
</nav>
