<nav class="bg-white text-grey-400 p-4">
    <div class="container mx-auto flex items-center justify-between">
      <a routerLink="/" class="text-xl font-semibold">CJ</a>
      <div class="space-x-4">
        <a routerLink="/" class="hover:text-gray-400">Home</a>
        <a routerLink="/about" class="hover:text-gray-400">About</a>
        <a routerLink="/resume" class="hover:text-gray-400">Resume</a>
        <a routerLink="/certificates" class="hover:text-gray-400">Certificates</a>
        <a routerLink="/contact" class="hover:text-gray-400">Contact</a>
      </div>
    </div>
  </nav>
  
