<div class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center" *ngIf="isVisible">
  <div class="bg-slate-200 p-6 rounded-lg shadow-lg w-11/12 md:w-1/3 relative dark:bg-gray-900 dark:text-white">
    <button (click)="onClose()" class="absolute top-5 right-5 text-gray-500 hover:text-gray-700">
      &times;
    </button>
    <h2 class="text-2xl font-semibold mb-4 text-black text-center dark:bg-gray-900 dark:text-white">Let's have a chat !</h2>
    <form>
      <div class="mb-4">
        <label for="name" class="block text-gray-900 dark:text-white">Name:</label>
        <input type="text" id="name" class="w-full p-2 border border-gray-300 rounded dark:bg-gray-400" required>
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-900 dark:text-white">Email:</label>
        <input type="email" id="email" class="w-full p-2 border border-gray-300 rounded dark:bg-gray-400" required>
      </div>
      <div class="mb-4">
        <label for="message" class="block text-gray-900 dark:text-white">Message:</label>
        <textarea id="message" rows="4" class="w-full p-2 border border-gray-300 rounded dark:bg-gray-400" required></textarea>
      </div>
      <div class="flex flex-col items-center">
        <button type="submit" class="bg-gradient-to-r from-blue-500 to-teal-500 text-white px-6 py-3 rounded-lg shadow-lg hover:shadow-xl transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-300 transition-all duration-300 ease-in-out">
          Send
        </button>
      </div>         
    </form>
  </div>
</div>
